.header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px;
  background-color: black;
  color: wheat;
}

.oscuro {
  background-color: black;
  color: white;
}

.main {
  margin-top: 10px;
  color: grey;
}

.hola {
  background-color: black;
}

.footer {
  padding: 20px;
  color: white;
  background-color: black;
}

